/* log in modal */
h1 {
  text-align: center;
  color: rgb(184, 18, 18);
  padding-top: 10px;
  text-decoration-line: underline;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration-style: dotted;
}
/* Full-width input fields */
input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}
/* end of login */

body {
  background: url("../images/phillbg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(51, 48, 48, .5);

 
  /* filter: grayscale(1); */
}

hr {
  border-top: 1px dotted red;
  padding: 0px;
  /* width: 80%; */
  margin: auto;
  align: right;

  
}
#savedCities {
  margin-bottom: 0;
  padding-bottom: 0;
}
.card-header {
  padding-bottom: 0;
  padding-top: 1rem;
}

input:placeholder {
  color: maroon;
  opacity: 1;
}
section {
  /* background-color: rgba(240, 248, 255, 0.329); */
  /* padding: 1rem; */
  margin-top: 1rem;
  margin-bottom: 0;
  opacity: 0.95;
}

h3 {
  text-transform: uppercase;
  font-size: 1rem;
}

.inputs {
  font-size: 0.8rem;
}

.img-fluid {
  height: 128px;
  width: 128px;
  padding-right: 10px;
}

.del-fav-btn {
    font-size: 10px;
    text-align: center;
    padding: 2px 3px;
    width: 20px;
    position: absolute;
    top: 0;
    background-color:rgb(66, 31, 31);
    border-radius: 50%;
    cursor: pointer;
}

#input-form {
    position: relative;
}

#city-suggestion {
    display: none;
    position: absolute;
    top: 50px;
    color: #666;
    background-color: #fff;
    width: 400px;
    height: 200px;
    overflow: scroll;
    border: 1px solid red;
    z-index: 99;
}

.suggested-city {
    cursor: pointer;
}

.suggested-city:hover {
    background-color: red;
}